  .cabecalho{
    background-color: black;
    color:lightskyblue;
   text-align:center;
   margin: 0 automatico;
   max-width: 800px;
  }

  .pricipal{
    background-color: hotpink;
    color:black;

  }